.center {
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

.center h1 {
    font-size: 80px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}